.bio__img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.bio__head-group {
  margin-bottom: 18px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.bio__title {
  font-size: 34px;
  margin-bottom: 10px;
  line-height: 120%;
}

.bio__subtitle {
  font-size: 16px;
  color: $color-2;
  line-height: 120%;
}

.bio__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 19px;
}

@media (min-width: 480px) {
  .bio__container {
    display: flex;
  }

  .bio__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .bio__img {
    width: 50%;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .bio__title {
    font-size: 40px;
  }

  .bio__subtitle {
    font-size: 18px;
  }

  .bio__description {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .bio__title {
    margin-bottom: 24px;
  }

  .bio__head-group {
    margin-bottom: 40px;
  }

  .bio__description {
    margin-bottom: 60px;
  }

  .bio__order-btn {
    padding: 24px 82px;
  }

  .bio__img {
    width: 370px;
    margin-right: 27px;
  }
}

@media (min-width: 992px) {
  .bio {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40%;
      height: 100%;
      background-color: $color-header-bg;
      z-index: -1;
    }
  }
}

@media (min-width: 1440px) {
  .bio__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .bio__subtitle {
    font-size: 20px;
  }

  .bio__head-group {
    margin-bottom: 60px;
  }

  .bio__description {
    font-size: 18px;
    margin-bottom: 80px;
  }
}
