@mixin font ($name, $weight) {
	font: {
		family: $name;
		weight: $weight;
		display: swap;
	}
	src: local(#{$name}), 
	url("../fonts/#{$name}/#{ $name }-#{ $weight }.woff2") format("woff2"),
	url("../fonts/#{ $name }/#{ $name }-#{ $weight }.woff") format("woff")
}

@mixin bg-full ($url) {
	background: {
		image: url($url);
		size: contain;
		position: center;
		repeat: no-repeat;
	};
}
